{
  "plugins": [
    "babel-plugin-dev-expression"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "supports es6-module"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "loose": false
          }
        ]
      ]
    }
  }
}
