{
  "plugins": [
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind",
    "lodash"
  ],
  "presets": [["env", { "modules": false }], "react"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "istanbul"]
    },
    "es6": {
      "plugins": ["use-lodash-es"] 
    },
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": false }]
      ]
    }
  }
}
