{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "valid-jsdoc": 2,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

    // Disable until Flow supports let and const
    "no-var": 0,
    "vars-on-top": 0,

    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,
    "react/jsx-no-bind": 0,

    "strict": 0,
    "no-unused-vars": 1,
    "one-var": ["error", { "uninitialized": "always" }],
    "one-var-declaration-per-line": ["error", "initializations"],
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "no-bitwise": 0,
    "object-property-newline": 0,
    "react/no-unused-prop-types": 0,
    "class-methods-use-this": 1,
    "import/no-named-as-default": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["demo/**", "test/**", "*.config.js", "scripts/**", "**/Spec.js"]
      }
    ],
    // Errors introduced while upgrading eslint & plugins
    "no-restricted-properties": 1,
    "prefer-destructuring": 1,
    "object-curly-newline": 1,
    "function-paren-newline": 1,
    "react/require-default-props": 1,
    "indent": 1,
    "no-restricted-globals": 1,
    "comma-dangle": 1,
    "react/default-props-match-prop-types": 1,
    "react/no-array-index-key": 1,
    "no-multi-assign": 1,
    "react/jsx-closing-tag-location": 1,
    "react/no-unused-state": 1,
    "react/prefer-stateless-function": 1

  },
  "plugins": [
    "react"
  ]
}
