language: node_js
node_js:
  - "8.5.0"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: "./node_modules/karma/bin/karma start test/karma.conf.js --browsers Firefox --single-run --no-auto-watch --capture-timeout 60000"
