@use 'variables';
@use 'mixins';
@use 'zindex';

$mobile-breakpoint: 991px;

.mobile-nav-toggle {
  display: none;
}

@media (max-width: $mobile-breakpoint) {
  .page {
    > .content {
      min-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .page-guide,
  .page-api,
  .page-examples {
    min-width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .page-index {
    .block,
    .desc,
    .examples,
    .features .feat,
    .who .users {
      width: 100%;
    }

    .desc {
      .title {
        font-size: 48px;
      }

      .subtitle {
        font-size: 20px;
      }
    }

    .examples {
      > .ex-code {
        width: 100%;
      }
    }

    .features {
      .feat {
        > li {
          float: none;
          width: 100%;
          margin: 40px 0;
        }
      }
    }

    .who {
      .users {
        .user {
          width: 50%;
          height: auto;
          margin-bottom: 20px;
        }
      }
    }
  }
}
