footer {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 36px;

  > p {
    margin: 6px 0;
  }
}

.content {
  min-height: 400px;
  padding: 0 20px 0 320px;

  h1,
  .page-title {
    padding-top: 30px;
    margin-bottom: 30px;
    margin: 0;
    font-size: 30px;
    color: var(--title-color);
  }

  h2,
  .sub-title {
    line-height: 40px;
    margin: 20px 0;
    font-size: 24px;
    border-bottom: 1px solid var(--border-color);
  }

  p,
  .paragraph-title {
    margin: 20px 0;
  }
}

.page-examples {
  iframe {
    display: block;
    width: 100%;
    height: 600px;
    border: none;
    margin: 0;
  }
}
