@use "mixins";
@use 'variables';
@use 'zindex';

footer {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 36px;

  > p {
    margin: 6px 0;
  }
}

.page {
  min-height: 400px;
  > .content {
    padding-left: 300px;

    h1,
    .page-title {
      padding-top: 30px;
      margin-bottom: 30px;
      margin: 0;
      font-size: 30px;
      color: variables.$gray-dark;
    }

    h2,
    .sub-title {
      height: 40px;
      line-height: 40px;
      margin: 20px 0;
      font-size: 24px;
      border-bottom: 1px solid variables.$gray-lighter;
    }

    p,
    .paragraph-title {
      margin: 20px 0;
    }
  }
}

.page-guide,
.page-api,
.page-examples {
  padding: 0 20px;
}

.page-examples {
  iframe {
    display: block;
    width: 100%;
    height: 600px;
    border: none;
    margin: 0;
  }
}

.page-api {
  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: variables.$font-size-lg;

    td,
    th {
      padding: 6px 13px;
      border: 1px solid #ddd;
      border-top: 1px solid rgba(0, 0, 0, 0.06);
      border-left: 0 none;
      border-right: 0 none;
      display: table-cell;
      vertical-align: top;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }

    thead {
      th {
        text-align: left;
      }
    }

    td {
      color: variables.$brand-second;
      font-family: variables.$font-family-code;
      font-size: 90%;
    }

    td + td {
      color: #bf2a5c;
    }

    td + td + td {
      color: #666;
      font-size: 90%;
    }

    td + td + td + td {
      color: rgba(51, 51, 51, 0.9);
      font-size: 95%;
      min-width: 250px;
      line-height: 1.5;
      font-family: variables.$font-family-base;
    }
  }
}
