.page.page-examples .example-wrapper {
  .example-inner-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 2em;
    border: 1px solid #f5f5f5;
  }

  .example-link-wrapper {
    text-align: center;
    margin: 0;

    .example-code-sandbox-link {
      color: var(--brand-primary);
      font-weight: 700;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .page.page-examples .example-wrapper {
    .example-inner-wrapper {
      flex-direction: column;
      align-items: stretch;
    }

    .codemirror-wrapper #codemirror-container {
      width: 100%;
      height: calc(min(100vh, 500px) - 40px);
      resize: vertical;
      overflow: auto;
    }
  }
}
