@use '../styles/variables';
@use '../styles/mixins';

.page.page-examples .example-wrapper {
  height: calc(100vh - 230px); // 230px = 60px(nav) + 68px(page title) + 102px(footer)

  .example-inner-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 2em;
    border: 1px solid #f5f5f5;
  }

  .monaco-editor-wrapper {
    .monaco-editor-toolbar {
      background-color: #f6f6f6;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;

      .monaco-editor-toolbar-item {
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: variables.$brand-primary;
        }
      }
    }

    #monaco-editor-container {
      width: 720px;
      height: calc(100vh - 40px);
      resize: both;
      overflow: auto;
    }
  }

  .example-link-wrapper {
    text-align: center;
    margin: 0;

    .example-code-sandbox-link {
      color: variables.$brand-primary;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .page.page-examples .example-wrapper {
    .example-inner-wrapper {
      flex-direction: column;
      align-items: stretch;
    }

    .monaco-editor-wrapper #monaco-editor-container {
      width: 100%;
      height: calc(min(100vh, 500px) - 40px);
      resize: vertical;
      overflow: auto;
    }
  }
}
