.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 280px;
  padding: 2rem;
  overflow: auto;
  z-index: 1;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 10px;
      line-height: 1.5;
      font-size: var(--font-size-lg);
    }

    a {
      display: block;
      text-decoration: none;

      &:hover {
        color: var(--color-solid-brand-1);
      }

      &.active {
        text-decoration: underline;
        color: var(--color-solid-brand-1);
        font-weight: 700;
      }
    }
  }
}
