{
  plugins: [
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind",
  ],
  presets: ["es2015", "react"]
}
