# This workflow runs all CI steps within a single job.

name: Build and test

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  NODE_VERSION: 24.x
  PACKED_ARTIFACT_NAME: 'recharts-snapshot.tgz'

jobs:
  list_integration_tests:
    name: List Integration Test Directories
    runs-on: ubuntu-latest
    outputs:
      # Output the list of directories as a JSON array string
      directories: ${{ steps.set_matrix.outputs.directories }}
    steps:
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Checkout Integration Tests Repository
        uses: actions/checkout@v4
        with:
          repository: recharts/recharts-integ

      - name: List Integration Test Directories
        id: set_matrix
        # This command finds all integration test directories
        # and formats them as a JSON array.
        run: |
          JSON_ARRAY=$(node list.js --ci --json)
          echo "Generated directory list: $JSON_ARRAY"
          echo "directories=$JSON_ARRAY" >> $GITHUB_OUTPUT

  build_test_pack:
    name: Build, Test, Pack
    runs-on: ubuntu-latest
    container:
      # Use the Playwright container to run tests, as recommended in https://storybook.js.org/docs/writing-tests/in-ci
      # Make sure to grab the latest version of the Playwright image
      # https://playwright.dev/docs/docker#pull-the-image
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    env:
      ENCRYPTED_CHROMATIC_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
      # /root home is required to allow Firefox to run in the container
      HOME: /root
    outputs:
      # Output the *name* of the generated tgz file (relative to RECHARTS_PATH)
      # The actual file will be passed via artifact
      tgz_name: ${{ steps.pack_library.outputs.tgz_name }}
    steps:
      - name: Checkout Recharts Repository
        uses: actions/checkout@v4
        with:
          # Chromatic needs access to full git history
          # see https://www.chromatic.com/docs/github-actions/
          fetch-depth: 0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          # Cache depends on the lock file within the checked-out path
          cache-dependency-path: 'package-lock.json'

      - name: Install Dependencies
        run: npm ci

      - name: omnidoc - documentation test
        run: npm run test-omnidoc
