name: Upload code coverage

on:
  push:
    branches:
      - master
      - 3.x
  pull_request:

jobs:
  codecov:
    name: Upload code coverage
    runs-on: ubuntu-latest
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:

      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm run test-coverage

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          slug: recharts/recharts
          files: ./coverage/coverage-final.json
